.NavBar {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 64px;
  width: 100vw;
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
}

.navTitle {
  font-weight: 400;
  color: white;
  font-size: 23px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.navHam {
  position: relative;
  left: 20px;
  margin-right: auto;
}

.emptySpacer {
  width: 27px;
  visibility: hidden;
  margin-left: auto;
}
